@import "../node_modules/modern-normalize/modern-normalize.css";

/* Abril Fatface (Serif) */
@font-face {
  font-family: "Abril Fatface";
  src: url("/fonts/abril_fatface/abril_fatface.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Hanken Grotesk (Sans Serif) */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/hk/hk.woff2") format(woff2);
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/hk/hk_italic.woff2") format(woff2);
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* JetBrains Mono (Monospace) */
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains_mono/jetbrains_mono.woff2") format(woff2);
  font-optical-sizing: auto;
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains_mono/jetbrains_mono_italic.woff2") format(woff2);
  font-optical-sizing: auto;
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

/*
 * Remove all of the default margins from elements like headings, blockquotes,
 * paragraphs, etc.
 *
 * This makes it harder to accidentally rely on margin values applied by
 * the user-agent stylesheet that are not part of your spacing scale.
 */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/*
 * All heading elements are completely unstyled by default, and have the same
 * font-size and font-weight as normal text.
 *
 * In UI development, headings should often be visually de-emphasized. Making
 * headings unstyled by default means any styling you apply to headings happens
 * consciously and deliberately.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
 * Images and other elements (like `svg`, `video`, `canvas`, and others)
 * are `display: block` by default.
 *
 * This helps to avoid unexpected alignment issues that you often run into
 * using the browser default of `display: inline`.
 */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/*
 * Images and videos are constrained to the parent width in a way that
 * preserves their intrinsic aspect ratio.
 *
 * This prevents them from overflowing their containers and makes them
 * responsive by default.
 */
img,
video {
  max-width: 100%;
  height: auto;
}

/*
 * Ordered and unordered lists are unstyled by default, with no bullets/numbers
 * and no margin or padding.
 */
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  @include transition;

  /* Chromatic */
  --chocolate-cosmos: #590d22ff;
  --claret: #800f2fff;
  --amaranth-purple: #a4133cff;
  --rose-red: #c9184aff;
  --bright-pink-crayola: #ff4d6dff;
  --bright-pink-crayola-2: #ff758fff;
  --salmon-pink: #ff8fa3ff;
  --cherry-blossom-pink: #ffb3c1ff;
  --pink: #ffccd5ff;
  --lavender-blush: #fff0f3ff;

  /* Monochrome */
  --eerie-black: #212529;
  --onyx: #343a40;
  --outer-space: #495057;
  --slate-gray: #6c757d;
  --french-gray: #adb5bd;
  --french-gray-lighter: #ced4da;
  --platinum: #dee2e6;
  --anti-flash-white: #e9ecef;
  --seasalt: #f8f9fa;

  /* Theme Color */
  --theme-color-fainter: var(--salmon-pink);
  --theme-color-faint: var(--bright-pink-crayola-2);
  --theme-color-weaker: var(--bright-pink-crayola);
  --theme-color-weak: var(--rose-red);
  --theme-color-normal: var(--amaranth-purple);
  --theme-color-strong: var(--claret);
  --theme-color-stronger: var(--chocolate-cosmos);

  /* Background color */
  --background-color: var(--seasalt);
  background-color: var(--background-color);

  /* Text color */
  --color-inactive: var(--french-gray);
  --color-weak: var(--outer-space);
  --color-normal: var(--onyx);
  --color-strong: var(--eerie-black);
  --color-inverted-inactive: var(--french-gray);
  --color-inverted-weak: var(--platinum);
  --color-inverted-normal: var(--anti-flash-white);
  --color-inverted-strong: var(--seasalt);
  color: var(--color-normal);

  /* Border */
  --border-color: var(--french-gray);
  --border-width: 1px;
  --border-radius: 0.5rem;
  --border-inner-radius: 0.5rem;

  /* Button */
  --button-size: 2.75rem;
  --button-color: var(--outer-space);
  --button-hover-color: var(--onyx);
  --button-active-background: var(--platinum);
  --button-selected-background: var(--anti-flash-white);
  --button-inner-size: 2.25rem;

  --font-serif: "Abril Fatface", serif;
  --font-sans: "Hanken Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Set HMTL to *at least* 100% of the browser height */
  min-height: 100%;
}

.dark {
  /* TODO: Better dark theme */

  /* Chromatic */
  --chocolate-cosmos: #590d22ff;
  --claret: #800f2fff;
  --amaranth-purple: #a4133cff;
  --rose-red: #c9184aff;
  --bright-pink-crayola: #ff4d6dff;
  --bright-pink-crayola-2: #ff758fff;
  --salmon-pink: #ff8fa3ff;
  --cherry-blossom-pink: #ffb3c1ff;
  --pink: #ffccd5ff;
  --lavender-blush: #fff0f3ff;

  /* Monochrome */
  --eerie-black: #212529;
  --onyx: #343a40;
  --outer-space: #495057;
  --slate-gray: #6c757d;
  --french-gray: #adb5bd;
  --french-gray-lighter: #ced4da;
  --platinum: #dee2e6;
  --anti-flash-white: #e9ecef;
  --seasalt: #f8f9fa;

  /* Contrast colors */
  --theme-color-fainter: var(--amaranth-purple);
  --theme-color-faint: var(--rose-red);
  --theme-color-weaker: var(--bright-pink-crayola);
  --theme-color-weak: var(--bright-pink-crayola-2);
  --theme-color-normal: var(--salmon-pink);
  --theme-color-strong: var(--cherry-blossom-pink);
  --theme-color-stronger: var(--pink);

  /* Background color */
  --background-color: var(--eerie-black);

  /* Text colors */
  --color-inactive: var(--french-gray);
  --color-weak: var(--platinum);
  --color-normal: var(--anti-flash-white);
  --color-strong: var(--seasalt);
  --color-inverted-inactive: var(--french-gray);
  --color-inverted-weak: var(--outer-space);
  --color-inverted-normal: var(--onyx);
  --color-inverted-strong: var(--eerie-black);

  /* Update state (don't change) */
  color: var(--color-normal);
  background-color: var(--background-color);
  --border-color: var(--french-gray);
  --button-color: var(--platinum);
  --button-hover-color: var(--anti-flash-white);
  --button-active-background: var(--outer-space);
  --button-selected-background: var(--onyx);
}

body {
  /* Always keep the scroll bar to avoid content shifting */
  overflow-y: scroll;
}

* {
  font-family: var(--font-sans);

  /* Remove blue highlight when tapping in a mobile device */
  -webkit-tap-highlight-color: transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideTopBottom {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideBottomTop {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
